.main-container{
    display: flex;
    justify-content: space-between;
    
    height: 200vh;
    overflow: auto;
    
  }
  .sidebar-container{
    width: 250px;
  }
  .content-container{
    width: calc(100% - 250px);
    ::-webkit-scrollbar {
     
        display: none;
        height:fit-content;
        
      }
  }